<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Data" version="21.2.7" targetFramework="net48" />
  <package id="DevExpress.Xpo" version="21.2.7" targetFramework="net48" />
  <package id="DevExtreme.AspNet.Data" version="2.8.6" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
</packages>